// fonts
@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
    font-style: bold; 
    font-weight: bold; 
}
@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
    font-style: normal; 
    font-weight: normal; 
}

// variables
$font-size: 16px;
$deco-color: #6F2DFF;

// mixins
@mixin flex-aroud{
    display: flex;
    justify-content: space-around;
}
@mixin flex-betwen{
    display: flex;
    justify-content: space-between;
}
@mixin flex-col{
    display: flex;
    flex-direction: column;
}
@mixin flex-centr{
    display: flex;
    align-items: center;
}
@mixin full_background ($color) {
    background-color: $color;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

//миксин и переменная для адаптива
$maxWidth: 1440;//ширина макета

@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;//вычислается добавочний размер как разница между мин и макс
 $maxWidth: $maxWidth - 320;//вычислиние для 
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}//передаются базовый размер шрифта и размер для смартфонов

// general
*{
    font-family: Roboto-Regular;
}
.block_title{
    font-size: $font-size + 24px;
    font-family: Roboto-Bold;
    padding-bottom: 56px;
}
.block_link{
    color: black;
    font-family: Roboto-Bold;
    font-size: $font-size;
    border-bottom: 2px solid $deco-color;
}

.header_nav{
    @include flex-betwen;
    align-items: center;
    padding: 10px 30px;
    .main_menu_list, .side_menu_list{
        @include flex-betwen;
        align-items: center;
        .list_item{
            padding-right: 42px;
            a{
                @include adaptiv-font(16, 12);
                color: black;
            }
        }
    }
    .menu_burger{
        .burger_line{
            display: none;
            width: 30px;
            height: 10px;
            padding-bottom: 5px;
            border-bottom: 2px solid $deco-color;
        }
    }
}

.default_btn{
    color: #FFFFFF;
    background-color: $deco-color;
    border-radius: 20px;
    @include adaptiv-font(16, 12);
    width: 157px;
    height: 40px;
}
.modified_btn{
    height: 45px;
    border-radius: 0px 27.5px 27.5px 0px;
    margin-left: -3px;
}
.white_btn{
    background-color: white;
    color: $deco-color;
}
.wrapper{
    padding: 0 100px;
    overflow: hidden;
}

// promo-block
.promo{
    @include flex-col;
    justify-content: center;
    height: 960px;
    background-image: url(../images/promo_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    .promo_block{
        max-width: 450px;
        .promo_title{
            font-size: $font-size;
        }
        .promo_heading{
            font-family: Roboto-Bold;
            @include adaptiv-font(54,27);
            line-height: 61px;
            padding: 20px 0px;
            span{
                color: $deco-color;
            }
        }
        .promo_description{
            font-size: $font-size + 3px;
            line-height: 30px;
            padding-bottom: 10px;
        }
        .callback{
            @include flex-centr;
            .callback_adress{
                width: 260px;
                height: 45px;
                text-indent: 10px;
                background: #FFFFFF;
                border: 1px solid $deco-color;
                border-radius: 27.5px 0px 0px 27.5px;
            }
        }
    }
}

//brands_block
.brands_block{
    @include flex-col;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    .brands_heading{
        font-family: Roboto-Bold;
        font-size: $font-size;
        padding-bottom: 20px;
    }
    .brands_logo{
        @include flex-betwen;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 20px;
    }
}

//statistic_block
.statistic_block{
    @include flex-aroud;
    flex-wrap: wrap;
    padding-top: 130px;
    padding-bottom: 90px;
    .grow_block{
        @include flex-col;
        justify-content: center;
        .default_btn{
            margin-right: 22px;
            margin-bottom: 56px;
        }
        span{
            font-size: $font-size;
            padding-bottom: 7px;
        }
        .sub_link{
            color: black;
            font-size: $font-size;
            border-bottom: 1px solid black;
            width: fit-content;
        }
    }
    .statistics_wraper{
        @include flex-col;
        flex-wrap: wrap;
        width: 619px;
        height: 660px;
        .statistics_item{
            padding-left: 15px;
            border-left: 2px solid #E0E0E0;
            .item_data{
                font-size: 40px;
            }
            .item_subscription{
                font-size: $font-size; 
                width: 225px; 
                padding-top: 15px;
                padding-bottom: 130px
            }
        }
    }
}

//ai_block 
.ai_block{
    @include flex-col;
    align-items: center;
    justify-content: space-around;
    span{
        font-size: $font-size;
    }
    .ai_block_cards{
        @include flex-aroud;
        flex-wrap: wrap;
        width: 100%;
        .card_item{
            @include flex-col;
            align-items: center;
            max-width: 320px;
            padding-top: 45px;
            padding-bottom: 45px;
            h3{
                font-size: $font-size;
                font-family: Roboto-Bold;
                padding-top: 45px;
                padding-bottom: 15px;
            }
            p{
                font-size: $font-size;
                line-height: 15px;
                text-align: center;
            }
        }
    }
}

//use_block 
.use_block{
    @include flex-col;
    align-items: center;
    @include full_background (#f2f2f2);
    .block_title{
        padding-top: 94px;
    }
    span{
        font-size: $font-size;
    }
    img{
        padding-top: 66px;
        padding-bottom: 70px;
    }
    .use_block_feedback{
        :first-child{
            margin-right: 22px;
        }
        margin-bottom: 94px
    }
}

//do_block
.do_block{
    @include flex-col;
    padding-top: 90px;
    align-items: center;
    .do_block_cards{
        @include flex-aroud;
        flex-wrap: wrap;
        .card_item{
            @include flex-col;
            align-items: center;
            max-width: 23vw;
            padding-bottom: 100px;
            h3{
                font-size: $font-size;
                font-family: Roboto-Bold;
                padding-top: 5px;
                padding-bottom: 15px;
            }
            p{
                font-size: $font-size;
                line-height: 22px;
                text-align: center;
            }
        }
    }
}

//slider_block
.slider_block{
    @include flex-col;
    align-items: center;
    padding-bottom: 100px;
    @include full_background (#f2f2f2);
    .block_title{
        padding-top: 77px;
    }
    .slider_main{
        @include flex-betwen;
        .prev_slide, .next_slide{
            margin: 0 15px;
            width: min-content;
        }
        .slider_control{
            @include flex-betwen;
            overflow: hidden;
            .slider{
                @include flex-aroud;
                position: relative;
                transition: all ease 1s;
                left: 0;
                max-width: 1250px;
                padding: 0 10px;
                .slide_item{
                    @include flex-col;
                    align-items: center;
                    background-color: #FFFFFF;
                    border-radius: 0px 0px 7px 7px;
                    margin: 0 20px;
                    .slide_img{
                        padding-bottom: 25px;
                    }
                    .slide_logo{
                        padding-bottom: 25px;
                    }
                    p{
                        font-size: $font-size;
                        line-height: 22px;
                        text-align: center;
                        font-family: Roboto-Bold;
                        color: $deco-color;
                        padding: 0 65px;
                        padding-bottom: 60px;
                    }
                }
            }
        } 
    }
}

//your_industry_block
.your_industry_block{
    @include flex-col;
    align-items: center;
    .block_title{
        padding-top: 90px;
        padding-bottom: 15px;
    }
    .industry_subtitle{
        font-size: $font-size + 2;
        margin-bottom: 50px;
    }
    .industry_cards{
        @include flex-betwen;
        flex-wrap: wrap;
        max-width: 900px;
        margin-bottom: 50px;
        .industry_card_item{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            color: #FFFFFF;
            max-width: 45%;
            background-color: #17002E;
            border-radius: 8px 10px 10px 8px;
            padding: 10px 30px;
            margin: 20px;
            img{
                margin-right: 18px;
                margin-bottom: 18px;
            }
            h3{
                font-size: $font-size;
                font-family: Roboto-Bold;
                width: max-content;
            }
            p{
                font-size: $font-size;
                line-height: 22px;
                margin-bottom: 10px;
            }
            a{
                font-size: $font-size;
                line-height: 22px;
                margin-bottom: 10px;
                color: #FFFFFF;
                border-bottom: 2px solid #FFFFFF;
            }
        }
    }
}

// ecosystem_block
.ecosystem_block{
    @include flex-aroud;
    @include full_background (#f2f2f2);
    align-items: center;
    .block_title{
        padding-top: 120px;
    }
    .ecosystem_subtitle{
        line-height: 30px;
        max-width: 650px;
    }
    .ecosystem_btn{
        margin-top: 75px;
        width: 200px;
    }
}

//call_demo_block
.call_demo_block{
    @include flex-col;
    align-items: center;
    justify-content: center;
    background-image: url(../images/avard_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 422px;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    .block_title{
        color: #FFFFFF;
    }
    .callback{
        @include flex-centr;
        .callback_adress{
            width: 260px;
            height: 45px;
            text-indent: 10px;
            background: #FFFFFF;
            border: 1px solid $deco-color;
            border-radius: 27.5px 0px 0px 27.5px;
        }
    }
}

//connect_block
.connect_block{
    @include flex-col;
    align-items: center;
    justify-content: center;
    .avard_img{
        width: 140px;
        margin-bottom: 30px;
    }
    span{
        font-size: $font-size;
    }
    .connect_links{
        display: flex;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 40px;
        img{
            padding-right: 30px;
        }
        :last-child{
            padding-right: 0;
        }
    }
}

//footer_block
.footer_block{
    @include flex-col;
    @include full_background (#20003C);
    .footer_navigation{
        @include flex-aroud;
        flex-wrap: wrap;
        ul{
            @include flex-col;
            .list_header{
                font-size: $font-size;
                line-height: 22px;
                font-family: Roboto-Bold;
                margin-bottom: 22px;
                margin-top: 55px;
            }
            li{
                color: #FFFFFF;
                font-size: $font-size - 2;
                margin-bottom: 10px;
                a{
                    color: #FFFFFF;
                }
            }
        }
    }
    .footer_rights{
        @include flex-col;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 80px;
        .svg_change{
            max-width: 73px;
            margin-bottom: 25px;
        }
        span{
            color: #FFFFFF;
        }
    }
}



// ADAPTIVE //

@media (max-width: 1200px) {
    .header_nav{
        .main_menu, .side_menu{
            .list_item{
                padding-right: 15px;
            }
        }
    }
}

@media (max-width: 800px) {
    .header_nav{
        .main_menu, .side_menu{
            display: none;
        }
        .menu_burger{
            .burger_line{
                display: block;
                width: 30px;
                height: 10px;
                padding-bottom: 5px;
                border-bottom: 2px solid $deco-color;
            }
        }
    }
}